body {
  background-color: lightgray;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todo-container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: #333;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="date"] {
  width: 25%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 20px;
}

button.add-task-button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 12px;
}

button.add-task-button:disabled {
  background-color: red;
  cursor: not-allowed;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  transform: scale(1.02);
}

li.completed .task-text {
  text-decoration: line-through;
  color: #bbb;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

span.task-text {
  flex-grow: 1;
  text-align: left;
}

span.task-date {
  margin-right: 10px;
  font-size: 0.8rem;
  color: #666;
}

button.edit-btn {
  background-color: NONE;
  color: black;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button {
  background-color: NONE;
  font-size: 0.9rem;
}

button:hover {
  background-color: auto;
}


.delete-btn {
  background:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: red; 
  padding: 5px;
}

.delete-btn i {
  font-size: 1.2em;
}

li {
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black; 
  transition: background-color 0.3s ease; 
}



